doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    div Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus earum, est natus similique fugiat explicabo impedit dolorum molestias id tempora obcaecati ea, voluptatibus praesentium incidunt, quibusdam aut perspiciatis maiores.
    br
    div Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sed maiores nobis dolores dignissimos saepe consequatur cum soluta, pariatur modi earum harum, consequuntur iusto optio quis eos doloremque. Architecto, eligendi.