body {
    --color-primario: #89ed25;
    --color-texto: gray;
    --border-ancho: 4px;
}

h1 {
    background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);
    color: var(--color-texto);
}

p {
    background: var(--color-texto);
    border: var(--border-ancho) solid;
}

section {
    background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
    color: white;
}